<!-- <section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
            <div class="lg:col-span-2 lg:py-12">
                <p class="max-w-xl text-lg">
                    At the same time, the fact that we are wholly owned and totally
                    independent from manufacturer and other group control gives you
                    confidence that we will only recommend what is right for you.
                </p>

                <div class="mt-8">
                    <a href="" class="text-2xl font-bold text-pink-600">
                        0151 475 4450
                    </a>

                    <address class="mt-2 not-italic">
                        282 Kevin Brook, Imogeneborough, CA 58517
                    </address>
                </div>
            </div>

            <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
                <form action="" class="space-y-4" [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
                    <div>
                        <label class="sr-only" for="name">Name</label>
                        <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Name" type="text"
                            id="name" formControlName="name" />
                    </div>

                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        <div>
                            <label class="sr-only" for="email">Price</label>
                            <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Price"
                                type="number" id="number" formControlName="price" />
                        </div>

                        <div>
                            <label class="sr-only" for="phone">Price Sale</label>
                            <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Price Sale"
                                type="number" id="number" formControlName="priceSale" />
                        </div>
                    </div> -->
<!-- Categories -->
<!-- <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
                        <label for="HeadlineAct" class="w-full rounded-lg border-gray-200 p-3 text-sm">
                            Categories
                        </label>
                        <select name="HeadlineAct" id="HeadlineAct"
                            class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm">
                            <option value="">Please select</option>
                            <option value="JM">John Mayer</option>

                        </select>
                    </div>

                    <div>
                        <label class="sr-only" for="message">Description</label>

                        <textarea class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Description"
                            rows="8" id="message" formControlName="describe"></textarea>
                    </div>

                    <div class="mt-4">
                        <button type="submit"
                            class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->

<!-- Làm xong ghép vào đoạn trên cho đẹp -->

<!-- product-update.component.html -->
<form (ngSubmit)="onHandleSubmit()" [formGroup]="productForm">
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control">

    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" formControlName="price" class="form-control">

    </div>
    <div class="form-group">
        <label>Price Sale</label>
        <input type="number" formControlName="priceSale" class="form-control">

    </div>
    <div class="form-group">
        <label>Describe</label>
        <input type="text" formControlName="describe" class="form-control">

    </div>

    <!-- <div class="form-group">
        <label>categoryId</label>
        <select formControlName="categoryId">
            <option *ngFor="let category of categorys" [value]="category._id">{{ category.name }}</option>
        </select>
    </div> -->

    <!-- <div class="form-group">
        <label>Image</label>
        <ngx-dropzone (change)="onSelectImage($event)" formControlName="images">
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemovem(f)">
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div> -->
    <button type="submit">Update Product</button>
</form>