<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div>
        <td class="px-6 py-4">
            <a routerLink="add" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">ADD
                CATEGORY</a>
        </td>
        <input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control form-control-dark"
                placeholder="Search..." aria-label="Search" (input)="onSearch()" (keyup)="onSearch()">
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>

                <th scope="col" class="px-6 py-3">
                    Category
                </th>

                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cate of category" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                <td class="px-6 py-4">
                    {{cate.name}}

                </td>
                <td class="px-6 py-4">
                    <a [routerLink]="[cate._id,'edit']"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    <button class="btn btn-danger  m-3" (click)="Remove(cate._id!)">Remove</button>

                </td>
            </tr>


        </tbody>
    </table>
</div>