<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="">
  <td class="px-6 py-4">
    <a routerLink="add" class="font-medium text-sky-600 dark:text-red-500 hover:underline">ADD PRODUCT</a>
  </td>
  <td class="px-6 py-4">
    <select  (change)="onHandleLimit($event)">
      <option *ngFor="let size of tabSizes" [ngValue]="size">{{size}}</option>
    </select>
  </td>
  <input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control form-control-dark"
  placeholder="Search..." aria-label="Search" (input)="onSearch()" (keyup)="onSearch()">
</div>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>

        <th scope="col" class="px-6 py-3">
          <span class="">Image</span>
        </th>
        <th scope="col" class="px-6 py-3">
          Product Name
        </th>
        <th scope="col" class="px-6 py-3">
          categoryId
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Price Sale
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products | paginate:{itemsPerPage: tabSize,
        currentPage: page,
        totalItems: count} "
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <td class="w-32 p-4">
          <img [src]="item.images" alt="Apple Watch">
        </td>
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          <a routerLink="{{item._id}}">{{item.name}}</a>

        </td>
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          <a routerLink="{{item._id}}">{{item.categoryId}}</a>
        </td>


        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          {{item.price | currency: "VND":true:'4.0-0' }} VND
        </td>
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          {{item.priceSale | currency: "VND":true:'4.0-0' }} VND
        </td>
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white" *ngIf="item.status===false">
          Hết hàng
        </td>
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white" *ngIf="item.status===true">
          Hoạt động
        </td>

        <td class="px-6 py-4">
          <button (click)="removeId(item._id!)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</button>
          <a routerLink="{{item._id}}/edit">
            <button class="font-medium text-sky-600 ml-4 dark:text-red-500 hover:underline">Update</button></a>
        </td>
      </tr>

    </tbody>
  </table>
  <pagination-controls previousLabel="Truoc" nextLabel="tiep" (pageChange)="onHandlesPage($event)"></pagination-controls>
</div>