<form style="margin-top: 50px;" (ngSubmit)="onHandleSubmit()" [formGroup]="productAddForm"
    style="margin-left:500px; margin-top: 40px;">

    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control">
        <div *ngIf="checkForm['name'].invalid &&checkForm['name'].dirty ">
            <div *ngIf="checkForm['name'].getError('required')">
                <span class="errormessage">Name không được để trống</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>price</label>
        <input type="number" formControlName="price" class="form-control">
        <div *ngIf="checkForm['price'].invalid &&checkForm['price'].dirty ">
            <div *ngIf="checkForm['price'].getError('required')">
                <span class="errormessage">Price không được để trống</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>priceSale</label>
        <input type="number" formControlName="priceSale" class="form-control">
        <div *ngIf="checkForm['priceSale'].invalid &&checkForm['priceSale'].dirty ">
            <div *ngIf="checkForm['priceSale'].getError('required')">
                <span class="errormessage">priceSale không được để trống</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>describe</label>
        <input type="text" formControlName="describe" class="form-control">
        <div *ngIf="checkForm['describe'].invalid &&checkForm['describe'].dirty ">
            <div *ngIf="checkForm['describe'].getError('required')">
                <span class="errormessage">describe không được để trống</span>
            </div>
            <div *ngIf="checkForm['describe'].getError('minlength')">
                <span class="errormessage">describe Trên 10 ký tự</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>categoryId</label>
        <select formControlName="categoryId" class="form-control">
            <option>Chọn danh mục</option>
            <option *ngFor="let item of categorys" [ngValue]="item._id">
                {{item.name}}
            </option>
            <div *ngIf="checkForm['categoryId'].invalid &&checkForm['categoryId'].dirty ">
                <div *ngIf="checkForm['categoryId'].getError('required')">
                    <span class="errormessage">categoryId không được để trống</span>
                </div>
            </div>
        </select>
    </div>

    <ngx-dropzone (change)="onSelectImage($event)" formControlName="images">
        <h1 style="margin-left: 5px; font-size: 11px;">Upload Main</h1>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemovem(f)">
            <ngx-dropzone-label>
                {{ this.url| async}}
                {{f.name}}
            </ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>
    <div class="button" style="text-align: center;">

        <a href="admin/products"><button type="button" class="btn btn-outline-danger">Quay
                lại</button>
        </a>
        <button class="btn btn-outline-danger">Submit</button>
    </div>


</form>